.shop-header {
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.shop-header .logo {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 2.5rem;
    padding-left: 1rem;
}

.shop-header .shopping-cart {
    align-self: center;
    font-size: 1.1rem;
    padding-right: 1rem;
    color: #17a2b8;
}

.shop-header .shopping-cart .cart-icon {
    font-size: 2.0rem;
    color: #138496;
    margin-right: 10px;
}